---
const tracks = [
	{ title: "Old Red Eyes Is Back", length: "3.35" },
	{ title: "We Are Each Other", length: "3.39" },
	{ title: "The Rocking Chair", length: "4.43" },
	{ title: "We'll Deal With You Later", length: "4.07" },
	{ title: "Domino Man", length: "2.40" },
	{ title: "36D", length: "5.16" },
	{ title: "Here It Is Again", length: "3.27" },
	{ title: "Something That You Said", length: "4.20" },
	{ title: "I'm Your No. 1 Fan", length: "4.28" },
	{ title: "Bell Bottomed Tear", length: "4.35" },
	{ title: "You Play Glockenspiel I'll Play Drums", length: "5.06" },
	{ title: "When I'm 84", length: "4.32" },
];
---

<div class="wrapper">
	<h1>0898</h1>
	<ol>
		{
			tracks.map((track) => (
				<li>
					<span class="title">{track.title}</span> &hellip; {track.length}
				</li>
			))
		}
	</ol>
</div>
<style>
	.wrapper {
		min-height: 100lvh;
		align-content: center;
		color: green;
		text-align: center;
	}
	h1 {
		font-weight: 500;
	}
	ol {
		list-style-position: inside;
		text-transform: uppercase;
	}

	.title {
		font-size: larger;
		letter-spacing: 0.05em;
	}
</style>
